@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #09c1e6 0%, #06eec0 100%);
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: rgb(255, 255, 255);
  border-radius: 24px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  width: 570px;
  text-align: center;
  padding: 30px;
  transition: 0.4s;
  animation: fadeIn 1s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

h1 {
  margin: 10px 0 5px;
  font-size: 50px;
  color: #0bbeeb;
}

h3 {
  margin: 0 0 15px;
  color: #00a8dc;
  font-weight: 1000;
}

.about {
  font-size: 14px;
  color: #00599c;
}

button {
  margin-top: 15px;
  background: linear-gradient(135deg, #00afd6, #00e3be);
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

button:hover {
  background: linear-gradient(135deg, #0095ff, #00ffd9);
  transform: scale(1.05);
}

.hidden {
  display: none;
}

#extraInfo {
  margin-top: 10px;
  color: #19a9cd;
  font-size: 14px;
  animation: fadeIn 0.5s ease;
}

.links {
  margin-top: 20px;
}

.links a {
  margin: 0 10px;
  text-decoration: none;
  color: #2575fc;
  font-weight: 500;
  transition: color 0.3s;
}

.links a:hover {
  color: #6a11cb;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

a i {
  color: #00c3ff; /* фирменный цвет Instagram */
  font-size: 32px;
  transition: transform 0.2s;
}

a i:hover {
  transform: scale(1.2);
}